.overlay-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  pointer-events: none;
  overflow: hidden;
}

.overlay-skew {
  position: absolute;
  top: 0;
  left: 62.5%;
  width: 37.5%;
  height: 100%;
  transform: skewX(-14.04deg);
  transform-origin: bottom left;
  pointer-events: none;
}

.overlay {
  position: absolute;
  right: -150%;
  bottom: -150%;
  width: 300%;
  height: 300%;
  --animate-duration: 0.8s;
}

.overlay-image {
  position: fixed;
  top: -12rem;
  right: -1.5rem;
  z-index: 999;
  max-width: 1200px;
  max-height: 1600px;
  pointer-events: none;
  --animate-duration: 0.8s;
}

